import users from '../../users';

$ const user = users.find((u) => input.params && input.params.id && u.id.toString() === input.params.id);
if(user)
  h1 -- ${ user.name }
else
  p -- Not found ${ JSON.stringify(input) }
